{% trans_default_domain 'FOSUserBundle' %}
<div class="container">
    <div class="row">
        <div id="entete" class="span12">
            <h2>Inscription <i class="icon-signin"></i></h2>
			<div class="span3">
				<div id="champ" class="bords">
					<h4>Bienvenue</h4>
					<em>
						nous vous invitons à vous inscrire<br/>
						afin de profiter de toutes les fonctionnalités du site.
					</em>
				</div>
			</div>
			<div id="champs" class="liens span7 bords">
				<h4>Vos coordonnées</h4>
				{{ form_start(form, {'method': 'post', 'action': path('fos_user_registration_register'), 'attr': {'class': 'fos_user_registration_register'}}) }}
				<div class="row">
					<div class="span2">
						<label for="civilite">Civilité</label>
						<div style="display:inline-block; margin-bottom:20px;">
						 	Mr {{ form_widget(form.civilite['0']) }}&nbsp;&nbsp;
						 	Mme {{ form_widget(form.civilite['1']) }}
						</div>
						<label for="username">Nom d'utilisateur</label>
						{{ form_widget(form.username) }}
						{{ form_widget(form.plainPassword) }}
						<label for="email">E-mail</label>
						{{ form_widget(form.email) }}
						<label for="telephone">Téléphone</label>
						{{ form_widget(form.telephone) }}
						{{ form_widget(form.valide) }}
					</div>
					<div class="span2 offset2">
						<label for="nom">Nom</label>
						{{ form_widget(form.nom) }}
						<label for="prenom">Prénom</label>
						{{ form_widget(form.prenom) }}
						<label for="adresse">Adresse</label>
						{{ form_widget(form.adresse) }}
						<label for="codePostal">{{ form_label(form.codePostal) }}</label>
						{{ form_widget(form.codePostal) }}
						<label for="ville">Ville</label>
						{{ form_widget(form.ville) }}
						<label for="pays">Pays</label>
						{{ form_widget(form.pays) }}
					</div>
				</div>
					<br/>
					<div class="wrapper">
						<div class="parent">
							<input type="submit" class="bouton children" value="{{ 'registration.submit'|trans }}" />
						</div>
					</div>
				{{ form_end(form) }}
			</div>
		</div>
    </div>
</div>