{% extends '::base.html.twig' %}
{% block body %}
    <div class="container" style="margin-top:40px;">
		<div class="row">
			<div id="entete" class="span12">
				<h2>Vue de l'image <i class="icon-desktop"></i></h2>
				<div class="liens paddingBottom paddingRight bords" style="display:inline-block">
					<table>
						<tr style="padding:20px;">
							<td class="paddingRight" style="vertical-align:top; padding-top:20px;">
								{{ entity.affiche }}
								<br/>
								<a href="{{ path('images') }}">Retour liste</a>
								<br/>
								<a href="{{ path('images_edit', { 'id': entity.id }) }}" style="margin-top:0px;">Éditer</a>
								<br/>
								<a href="{{ path('images_new') }}" style="margin-top:0px;">Nouvelle entrée</a>
								<br/>
							</td>
							<td style="padding:20px 0px 20px 20px;">
								<img src = "{{ asset('uploads/'~entity.adresse) }}"/>	
							</td>
						</tr>
					</table>
				</div>
			</div>
		</div>
	</div>
{% endblock %}
